/* ol {
  margin: 0;
  padding: 0;
} */
 .cover {
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.my-card {
    width: 300px;
}
