<mat-card>
  <mat-card-content class= "cover" [ngStyle]="{
    'background-image':'url('+ post?.urlToImage +')'
  }">
    <mat-card-title>{{post?.title}}</mat-card-title>
  </mat-card-content>
  <mat-toolbar-row>
    <img mat-card-avatar [src]="[post?.userImage]">
    <mat-card-subtitle>written by {{post?.author}}</mat-card-subtitle>
    <button mat-icon-button (click)="deletePost()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="editPost()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-toolbar-row>

<article>{{post?.content}}</article>
</mat-card>
<app-post-comment *ngFor="let comment of post?.comments" [comment]=comment></app-post-comment>

